{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": { "version": "16.5.2" }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
